<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Javascript Fractal Game</title>

</head>

<body>
  Generate Routes script
</body>

  <script type="text/javascript" src="/static/JSFractalGame/src/lib/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
  <script type="text/javascript" src="/static/JSFractalGame/src/lib/underscore.js"></script>
  <script type="text/javascript" src="/static/JSFractalGame/src/lib/backbone.js"></script>
  <script type="text/javascript" src="/static/JSFractalGame/src/lib/mandelbrot-js/mandelbrot.js"></script>
  <script type="text/javascript" src="/static/JSFractalGame/src/bad_routes.js"></script>
  <script type="text/javascript" src="/static/JSFractalGame/src/fractal_manager.js"></script>
  <script type="text/javascript" src="/static/JSFractalGame/src/fractal_sections.js"></script>
  <script type="text/javascript" src="/static/JSFractalGame/src/target_fractal.js"></script>
  <script type="text/javascript" src="/static/JSFractalGame/src/fractal_game.js"></script>
  <script type="text/javascript" src="/static/JSFractalGame/src/app.js"></script>
  <script type="text/javascript" src="/static/JSFractalGame/scripts/generate_routes.js"></script>
</html>
