<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Javascript Fractal Game</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" type="text/css" href="/static/FractalGuesser-client/src/fractal_game.css">
</head>

<body>
  <div id="active-fractal" class="fractal-canvas" ></div>
  <div id="target-fractal" class="fractal-canvas"></div>
</body>

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <script type="text/javascript" src="/static/FractalGuesser-client/src/lib/mandelbrot-js/mandelbrot.js"></script>
  <script type="text/javascript" src="/static/FractalGuesser-client/src/fractal_manager.js"></script>
  <script type="text/javascript" src="/static/FractalGuesser-client/src/fractal_sections.js"></script>
  <script type="text/javascript" src="/static/FractalGuesser-client/src/target_fractal.js"></script>
  <script type="text/javascript" src="/static/FractalGuesser-client/src/fractal_game.js"></script>
  <script type="text/javascript" src="/static/FractalGuesser-client/src/app.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40144218-2', 'auto');
    ga('send', 'pageview');
  </script>
</html>
