<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Javascript Fractal Game</title>
  <link href="/static/FractalGuesser-client/src/lib/bootstrap.min.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" type="text/css" href="/static/FractalGuesser-client/src/fractal_game.css">
</head>

<body>
  <div id="active-fractal" class="fractal-canvas" ></div>
  <div id="target-fractal" class="fractal-canvas"></div>
</body>

  <script type="text/javascript" src="/static/FractalGuesser-client/src/lib/jquery.min.js"></script>
  <script type="text/javascript" src="/static/FractalGuesser-client/src/lib/underscore.js"></script>
  <script type="text/javascript" src="/static/FractalGuesser-client/src/lib/backbone.js"></script>
  <script type="text/javascript" src="/static/FractalGuesser-client/src/lib/mandelbrot-js/mandelbrot.js"></script>
  <script type="text/javascript" src="/static/FractalGuesser-client/src/fractal_manager.js"></script>
  <script type="text/javascript" src="/static/FractalGuesser-client/src/fractal_sections.js"></script>
  <script type="text/javascript" src="/static/FractalGuesser-client/src/target_fractal.js"></script>
  <script type="text/javascript" src="/static/FractalGuesser-client/src/fractal_game.js"></script>
  <script type="text/javascript" src="/static/FractalGuesser-client/src/juliet_app.js"></script>
</html>
